{%extends 'navbar.html'%}
{%block title%}Dashboard{%endblock%}
{%block content%}
    <h1>Dashboard</h1>
    <div>
        <h3>Upcoming Sessions</h3>
       <!--Display upcoming sessions, if none ask the user to create a new session-->
       <!--Only users in a group can create a session-->
    </div>
    <div>
        <h3>Past Sessions</h3>
        <!--Display past sessions-->
    </div>
    <div>
        <h3>Your Groups</h3>
        {% if groups|length == 0 %}
            <p>You are not part of any groups yet.</p>
            <p>Create a group or join one</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Days</th>
                        <th>Times</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.name }}</td>
                        <td>{{ group.subject }}</td>
                        <td>{{ group.days }}</td>
                        <td>{{ group.times }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    
    <div>
        <h3>Your Subjects</h3>
        <div>
            <h4>Strong Subject(s)</h4>
            {% if strong_subjects %}
                <ul>
                    {% for subject in strong_subjects %}
                        <li>{{ subject }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have not set up your strong subjects yet. Please update your profile.</p>
            {% endif %}
        </div>
        <div>
            <h4>Weak Subject(s)</h4>
            {% if weak_subjects %}
                <ul>
                    {% for subject in weak_subjects %}
                        <li>{{ subject }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have not set up your weak subjects yet. Please update your profile.</p>
            {% endif %}
        </div>
    </div>
{%endblock%}